<html>
    <head>
        <title>CasparCG Weather Template by K4KFH</title>
        <!---Jquery is a useful library for most web development stuff--->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="js/casparcg.js"></script>
        <link href="styles.css" rel='stylesheet'>
    </head>
    <body>
        <!---This is a very simple "hello world" template that fades in a simple set of text on a black (technically transparent) background--->
        <div class="textbox">
            <h1 id="text-element">Hello World!</h1>
        </div>
    </body>
</html>