<html>
    <head>
        <title>CasparCG Weather Template by K4KFH</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="js/monkeecreate-jquery.simpleWeather-0d95e82/jquery.simpleWeather.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="js/skycons.js"></script>
        <script src="js/casparcg.js"></script>
        
        <link href="styles.css" rel='stylesheet'>
    </head>
    <body style="background-color:white;">
        <h2 class="center forecast-header">7 DAY FORECAST</h2>
        <div class="">
            <div class="row">
                <table class="days">
                    <tr>
                        <td width="14%">
                            <div class="card day" id="day1">
                                <div class="card-content center">
                                    <h2 class="center day-title">MON</h2>
                                    <canvas class="responsive-img"></canvas>

                                    <div class="center">
                                        <p><span class="temp-high black-text">75</span></p>
                                        <p><span class="temp-low">62</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        <td width="14%">
                            <div class="card day" id="day2">
                                <div class="card-content center">
                                    <h2 class="center day-title">TUE</h2>
                                    <canvas class="responsive-img"></canvas>

                                    <div class="center">
                                        <p><span class="temp-high black-text">75</span></p>
                                        <p><span class="temp-low">62</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        <td width="14%">
                            <div class="card day" id="day3">
                                <div class="card-content center">
                                    <h2 class="center day-title">WED</h2>
                                    <canvas class="responsive-img"></canvas>

                                    <div class="center">
                                        <p><span class="temp-high black-text">75</span></p>
                                        <p><span class="temp-low">62</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="14%">
                            <div class="card day" id="day4">
                                <div class="card-content center">
                                    <h2 class="center day-title">THU</h2>
                                    <canvas class="responsive-img"></canvas>

                                    <div class="center">
                                        <p><span class="temp-high black-text">75</span></p>
                                        <p><span class="temp-low">62</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td width="14%">
                            <div class="card day" id="day5">
                                <div class="card-content center">
                                    <h2 class="center day-title">FRI</h2>
                                    <canvas class="responsive-img"></canvas>

                                    <div class="center">
                                        <p><span class="temp-high black-text">75</span></p>
                                        <p><span class="temp-low">62</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        <td width="14%">
                            <div class="card day" id="day6">
                                <div class="card-content center">
                                    <h2 class="center day-title">SAT</h2>
                                    <canvas class="responsive-img"></canvas>

                                    <div class="center">
                                        <p><span class="temp-high black-text">75</span></p>
                                        <p><span class="temp-low">62</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        <td width="14%">
                            <div class="card day" id="day7">
                                <div class="card-content center">
                                    <h2 class="center day-title">SUN</h2>
                                    <canvas class="responsive-img"></canvas>

                                    <div class="center">
                                        <p><span class="temp-high black-text">75</span></p>
                                        <p><span class="temp-low">62</span></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script>
            update("{}");
        </script>
    </body>
</html>
